* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --espaciado-grande: 1rem;
}

:root[data-theme="light"] {

  --text: #2e2819;
  --background: #f0e9e0;
  --primary: #efcb2a;
  --secondary: #ffffff;
  --accent: #ff8c00;
  --dark_modeContrast: rgb(230, 224, 209);
  --primary-transparent: #efcb2a61;
}

:root[data-theme="dark"] {
  --text: #e6e0d1;
  --background: #1f180f;
  --primary: #e6e0d1;
  --secondary: #473b2e;
  --accent: #d5b110;
  --dark_modeContrast: rgb(46, 40, 25);
  --primary-transparent: #efcb2a61;
}



body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--background);
}

.container {
  width: 100%;
  max-width: 1200px;
  min-width: 250px;
  margin: auto;
  padding: 0.5rem;
  position: relative;
}

p,
input,
option,
select,
header,
label,
summary {
  color: var(--text);
}

select {
  background-color: var(--background);
}

header {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  line-height: 36px;
}

nav {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-grande);
  margin-bottom: var(--espaciado-grande);
}

.seccion-flex {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-grande);
}

label,
summary {
  font-weight: 700;
  display: block;
}

.nav-item-block {
  width: 100%;
  border-radius: 1.5rem;
  padding: 1rem;
  background-color: var(--secondary);
  text-align: center;
}

.nav-item {
  width: 100%;
  text-align: center;
  border-radius: 1rem;
  border: 1px solid var(--background);
  padding: 5px;
  cursor: pointer;
}

.label-grande {
  color: var(--accent);
}

#all {
  margin-bottom: 1rem;
}

#display-ingredientes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.grupo-ingredientes {
  overflow: hidden;
  border-radius: 1rem;
  border: 3px solid var(--accent);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.grupo-ingredientes summary {
  background-color: var(--accent);
  color: var(--background);
  padding: 0.5rem;
  cursor: pointer;
}

.subgrupo-ingredientes {
  background-color: var(--secondary);
}

.subgrupo-ingredientes summary {
  color: var(--accent);
  padding: 0.5rem;
  padding-bottom: 5px;
  border-top: 1px solid var(--primary);
  cursor: pointer;
  background-color: var(--white);
}

.contenedor-ingredientes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  padding: 0.5rem;
}

.ingrediente>input[type="checkbox"] {
  display: none;
}

.input-ingrediente {
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background-color: var(--background);
  border: 1px solid var(--primary);
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: 150ms;
}

.input-ingrediente img {
  width: 40px;
  height: 40px;
}

.input-ingrediente span {
  font-size: 0.8rem;
  color: var(--text);
}

.ingrediente>input[type="checkbox"]:checked+label {
  background-color: #7ac07c;
  border-color: #4CAF50;
}

.ingrediente>input[type="checkbox"]:checked+label span {
  color: var(--secondary);
}

.primary {
  background-color: var(--primary);
  border: 0;
  border-radius: 1rem;
  padding: 0.5rem;
  color: var(--text);
  font-weight: 700;
  font-size: 1.25rem;
  transition: 200ms;
  color: var(--secondary);
  cursor: pointer;
}

.primary:hover {
  box-shadow: 0 10px 10px var(--primary-transparent);
  color: var(--background);
}

.primary:active {
  scale: 0.98 0.9;
}

#mostrar-recetas {
  width: 100%;
}

.resultados {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

@media (width <=350px) {
  .ingredientes-contenido {
    grid-template-columns: repeat(2, 1fr);
  }

  .resultados article img {
    display: none;
  }
}

@media (width > 500px) {
  .ingredientes-contenido {
    grid-template-columns: repeat(4, 1fr);
  }

}

@media (width > 700px) {
  .ingredientes-contenido {
    grid-template-columns: repeat(5, 1fr);
  }

  .seccion-flex {
    flex-direction: row;
  }

  #display-ingredientes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

@media (width > 950px) {
  .ingredientes-contenido {
    grid-template-columns: repeat(6, 1fr);
  }

  .resultados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .container {
    padding: 2rem;
  }
}

@media (width >=1200px) {
  .ingredientes-contenido {
    grid-template-columns: repeat(7, 1fr);
  }

}

@media (hover: hover) {
  .input-ingrediente:hover {
    border-color: var(--primary);
    background-color: var(--background);
  }
}

.resultados-receta {
  background-color: var(--secondary);
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-left: 0.25rem solid var(--accent);
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  transition: 200ms ease-in-out;
}

.resultados-detalles-img {
  border-radius: 0.5rem;
  max-width: 33%;
  min-width: 100px;
  height: auto;
  object-fit: cover;
}

.resultados-titulo-receta {
  color: var(--text);
  line-height: 16pt;
  margin-bottom: 3px;
}

.resultados-titulo-receta:hover {
  text-decoration: underline dotted var(--accent);
  cursor: pointer;
}

.resultados-receta-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resultados-label-tiempo {
  color: var(--text);
  line-height: 12pt;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.resultados-detalles-summary {
  color: var(--accent);
  line-height: 12pt;
}

.resultados-detalles ul li {
  color: var(--text);
}

.resultados-detalles ul {
  padding-left: 1rem;
  list-style: disc;
  margin-top: 0.5rem;
}

.resultados-detalles li::marker {
  color: var(--accent);
}

.resultados-detalles-summary:hover {
  cursor: pointer;
  color: var(--accent);
}

.no-recetas-anuncio {
  color: var(--accent);
  text-align: center;
  width: 100%;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
}

.toggle-dark-mode {
  position: fixed;
  top: 2rem;
  border-radius: 0 1rem 1rem 0;
  border: none;
  background-color: var(--text);
  width: 3rem;
  height: 3rem;
  line-height: 0;
  cursor: pointer;
  transition: 200ms ease-in-out;
  text-align: right;
  padding-right: 0.5rem;
}

.toggle-dark-mode:hover {
  width: 4rem;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}