[data-theme="light"] {

  --text: rgb(46, 40, 25);
  --background: rgb(240, 233, 224);
  --primary: rgb(239, 203, 42);
  --secondary: rgb(148, 128, 107);
  --accent: rgb(255, 140, 0);
  --white: rgb(255, 255, 255);
  --dark_modeContrast: rgb(230, 224, 209)
}

[data-theme="dark"] {
  --text: rgb(230, 224, 209);
  --background: rgb(31, 24, 15);
  --primary: rgb(213, 177, 16);
  --secondary: rgb(148, 128, 107);
  --accent: rgb(255, 140, 0);
  --dark_modeContrast: rgb(46, 40, 25)
}

:root {
  --blanco: white;
  --grisClaro: #f0f0f0;
  --grisMedio: #9c9993;
  --grisObscuro: #333533;
  --amarillo: #FFD100;
  --naranja: #ff8c00;
  --amarilloClaro: #fff6cf;
  --negro: #202020;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--background);
}

.container {
  width: 100%;
  max-width: 1200px;
  min-width: 250px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  position: relative;
}

p,
input,
option,
select {
  color: var(--text);
}

header {
  width: 100%;
  text-align: center;
  color: var(--text);
  padding-top: 1rem;
}

h1 {
  line-height: 36px;
}

nav {
  background-color: var(--background);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.seccion-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label,
summary {
  font-weight: 700;
  color: var(--secondary);
  display: block;
}

.nav-item-block {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--white);
  text-align: center;
}

.nav-item {
  width: 100%;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary);
  padding: 5px;
  background-color: var(--white);
  cursor: pointer;
}

.label-grande {
  color: var(--accent);
}

#all {
  margin-bottom: 1rem;
}

.grupo-ingredientes {
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid var(--primary);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.grupo-ingredientes summary {
  background-color: var(--primary);
  color: var(--text);
  padding: 0.5rem;
  cursor: pointer;
}

.subgrupo-ingredientes {
  background-color: var(--white);
}

.subgrupo-ingredientes summary {
  color: var(--text);
  padding: 0.5rem;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--primary);
  cursor: pointer;
  background-color: var(--white);
}

.contenedor-ingredientes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  padding: 0.5rem;
}

.ingrediente>input[type="checkbox"] {
  display: none;
}

.input-ingrediente {
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background-color: #f0f0f0;
  border: 1px solid var(--background);
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: 150ms;
}

.input-ingrediente img {
  width: 40px;
  height: 40px;
}

.input-ingrediente span {
  font-size: 0.8rem;
  color: var(--text);
}

.ingrediente>input[type="checkbox"]:checked+label {
  background-color: #7ac07c;
  border-color: #4CAF50;
}

.ingrediente>input[type="checkbox"]:checked+label span {
  color: var(--white);
}

.primary {
  background-color: var(--accent);
  border: 0;
  border-radius: 1rem;
  padding: 0.5rem;
  color: var(--white);
  font-weight: 700;
  font-size: 1.25rem;
  transition: 200ms;
}

.primary:active {
  scale: 0.98 0.9;
}

.resultados {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (width <=350px) {
  .ingredientes-contenido {
    grid-template-columns: repeat(2, 1fr);
  }

  .resultados article img {
    display: none;
  }
}

@media (width > 500px) {
  .ingredientes-contenido {
    grid-template-columns: repeat(4, 1fr);
  }

}

@media (width > 700px) {
  .ingredientes-contenido {
    grid-template-columns: repeat(5, 1fr);
  }

  .seccion-flex {
    flex-direction: row;
  }

}

@media (width > 950px) {
  .ingredientes-contenido {
    grid-template-columns: repeat(6, 1fr);
  }

  .resultados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .container {
    padding: 2rem;
  }
}

@media (width >=1200px) {
  .ingredientes-contenido {
    grid-template-columns: repeat(7, 1fr);
  }

}

@media (hover: hover) {
  .primary:hover {
    background-color: var(--primary);
    cursor: pointer;
    color: var(--text);
  }

  .input-ingrediente:hover {
    border-color: var(--primary);
    background-color: var(--background);
  }
}

.resultados-receta {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  transition: 200ms ease-in-out;
}

.resultados-receta:hover {
  transform: scale(1.05);
}

.resultados-detalles-img {
  border-radius: 0.5rem;
  max-width: 33%;
  min-width: 100px;
  height: auto;
  object-fit: cover;
}

.resultados-titulo-receta {
  color: var(--text);
  line-height: 16pt;
  margin-bottom: 3px;
}

.resultados-receta-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resultados-label-tiempo {
  color: var(--secondary);
  line-height: 12pt;
  margin-bottom: 0.5rem;
}

.resultados-detalles-summary {
  color: var(--accent);
  line-height: 12pt;
}

.resultados-detalles {
  border-left: 2px solid var(--accent);
  padding-left: 0.5rem;
}

.resultados-detalles ul {
  padding-left: 1rem;
  list-style: disc;
  margin-top: 0.5rem;
}

.resultados-detalles li::marker {
  color: var(--accent);
}

.resultados-detalles-summary:hover {
  cursor: pointer;
  color: var(--accent);
}

.no-recetas-anuncio {
  color: var(--accent);
  text-align: center;
  width: 100%;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
}

.toggle-dark-mode {
  position: fixed;
  top: 2rem;
  border-radius: 0 1rem 1rem 0;
  border: none;
  background-color: var(--text);
  width: 3rem;
  height: 3rem;
  line-height: 0;
  cursor: pointer;
  transition: 200ms ease-in-out;
  text-align: right;
  padding-right: 0.5rem;
}

.toggle-dark-mode:hover {
  width: 4rem;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}